body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.sidebar {
    background-color: grey;
    color: white;
    height: 100vh;
    width: 250px;
    padding: 10px;
}

.sidebar-menu {
    list-style-type: none;
}

.sidebar-menu>ul>li>a:link,
.sidebar-menu>ul>li>a:visited {
    padding: 10px;
    color: black;
    text-decoration: none;
}

.sidebar-menu>ul>li>a:hover {
    background-color: aqua;
    padding: 10px;
}

.sidebar-menu>ul>li>a>i {
    margin: 10px;
}

.sidebar .submenu>ul>li>a>i {
    color: black;
    margin-left: 40px;
    margin-right: 20px;
}

.sidebar .submenu>li>a>i:hover {
    background-color: aqua;
    color: black;
    padding: 10px;
}

.sidebar .sidebar-menu>ul>li>a:link,
.sidebar .sidebar-menu>ul>li>a:visited {
    display: inline-block;
    width: 100%;
    text-decoration: none;
}

.sidebar-menu>li>a>i {
    margin-left: 15px;
    margin-right: 20px;
}

.sidebar .submenu>li {
    display: none;
    list-style-type: none;
}

.indicator {
    float: right;
    font-size: 0.8cm;
    line-height: 30px;
    transition: all 0.3 s;
}

.reverse {
    transform: rotate(180deg);
}