                #navbar {
                    background-color: rgb(28, 214, 28);
                    height: 60px;
                    position: sticky;
                }
                
                #navbar .navbar-brand {
                    width: 30%;
                    float: left;
                    padding-top: 16px;
                    padding-left: 5px;
                }
                
                #navbar .nav {
                    /* background-color: red;*/
                    width: 70%;
                    float: left;
                }
                
                #navbar .nav ul {
                    list-style-type: none;
                    padding: 0px;
                    margin: 0px;
                    margin-top: 15px;
                }
                
                #navbar .nav ul li {
                    float: left;
                    padding-left: 20px;
                    padding-right: 20px;
                }
                
                #navbar .nav ul li a:link {
                    text-decoration: none;
                    color: aliceblue;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                
                #navbar .nav ul li a:hover {
                    color: pink;
                    font-size: 20px;
                    font-family: cursive;
                    border-radius: 6px;
                    background-color: white;
                }
                
                .container {
                    margin-top: 200px;
                    height: 20px;
                    width: 400px;
                    /* position: relative; */
                    display: block;
                    float: left;
                }
                
                #shimla {
                    display: visible;
                }
                /* .capital {
    background-color: purple;
    top: 10px;
} */